@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --color-customGreen-light: #9AD4CC;
    --color-customGreen-lightest: #DAF7F2;
    --color-customGreen-midDark: #279DA4;
    --color-customGreen-dark: #05808C;
    --color-customGreen-darkest: #005B6D;
    --color-customWhite: #fefefe;

    --color-darkCustomGreen-light: #1C4C47;
    --color-darkCustomGreen-lightest: #0E2F2D;
    --color-darkCustomGreen-midDark: #197A7F;
    --color-darkCustomGreen-dark: #12656D;
    --color-darkCustomGreen-darkest: #0A3F47;
    --color-darkCustomBlack: #121212;

    --color-customDarkGray: #212121;

}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
